<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de pokemons</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
  <h1>Listado de Pokémons</h1>
  <ul id="pokemon-list"></ul>

  <div id="pagination"></div>

  <div id="modal">
    <div id="modal-content">
      <span id="modal-close">&times;</span>
      <div id="pokemon-info"></div>
    </div>
  </div>

    <a href="../index.html">Regresar al menu principal</a>

    <script src="../js/ListaPokemons.js"></script>
</body>
</html>